<div class="relative overflow-x-auto m-16">
  <h5>Usuarios <small>- sin señales (Tradicional)</small></h5>
  <h6>Total Usuarios: {{ users.length }}</h6>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="px-6 py-3">First</th>
        <th scope="col" class="px-6 py-3">Last</th>
        <th scope="col" class="px-6 py-3">Email</th>
        <th scope="col" class="px-6 py-3">Avatar</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let user of users"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
      >
        <th scope="row">{{ user.id }}</th>
        <td class="px-6 py-4">{{ user.first_name }}</td>
        <td class="px-6 py-4">{{ user.last_name }}</td>
        <td class="px-6 py-4">{{ user.email }}</td>
        <td class="px-6 py-4">
          <img
            class="w-12 h-12 rounded-full"
            src="{{ user.avatar }}"
            alt="Rounded avatar"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
